.header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-con{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10%;
    font-size: 20px;
    color: rgb(109, 108, 108);
    cursor: pointer;
}

.login-con div:hover{
    color: black;
}

.logo{
    width: 140px;
    height: 30px;
    margin-right: 10%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.search-con{
    width: 40%;
    height: 50px;
    border: .1px solid grey;
    box-shadow: 1px 1px 30px 3px rgb(198, 196, 196);
    border-radius: 10px;
    overflow: hidden;
}

.search-con input {
    height: 95%;
    width: 65%;
    border: none;
    font-size: 16px;
}

.search-con select {
    height: 100%;
    width: 30%;
    border: none;
    font-size: 16px;
    color: rgb(109, 108, 108);
}

.search-con input:focus,select:focus{
    outline: none;
}